body {
    margin: 0;
    padding: 0;
}

.hero-container {
    position: relative;
    text-align: center;
    color: white;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
}
h6 {
    text-align: center;
    padding-bottom: 250px;
}

.mouse img{
    position: relative;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%)
}

.about {
    text-align: center;
    line-height: 2;

}
.services-container {
    position: relative;
    text-align: center;
    color: white;
  
}

.services-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description img{
    display: inline-flex;
    padding: 50px;
}
h2 {
    text-align: center;
}

#row1 {
    height: 260px;
}

#card1 {
    height: 200px;
}

#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8 {
    height: 150px;
    width: 200px;
    border: 5px solid white;
    margin-left: 10%;
    margin-top: -70%;
    display: none;
    z-index: 2;
}
.p1 {
    color: white;
    font-size: 20px;
}

.col {
    text-align: center;
}

.pdesign {
    display: none;
}
.pdevelopment {
    display: none;
}
.pproduct {
    display: none;
}

#main-row {
    background-image: url("../images/c_image.jpg");
}

#mc-NAME, #mc-Email, #mc-MESSAGE {
    background: none;
}

.contact {
    margin-left: 15%;
    color: white;
}
.form-group {
    color: white;
}
.hh {
    text-align: center;
    color: white;
}

.btn {
    background: none;
}

.footer {
    padding: 20px;
    margin-left: 30%;
    text-align: center;
}




